.background{
    background-image: url('../img/background.png');

}
.background2 {
	background-color: whitesmoke;
}
.color1{
    color: blueviolet;
}

.flex-center, .flex-center-col {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-center-col {
	flex-direction: column;
}
.justify-flex-start {
	justify-content: flex-start;
}
.align-flex-start {
	align-items: flex-start;
}
.justify-flex-end {
	justify-content: flex-end;
}
.align-flex-end {
	align-items: flex-end;
}
.text-align {
	text-align: center;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}
.logo{
width: 230px;
height: 93px;
}
.margin {
    margin-top: 230px;
}
#push {
	font: bold;
}
.hidden{
	display: none;
}

#rules{
	font: bold;
	transform: scaleY(100px);
}
.flex-center-col {
	animation-duration: 20s;
	animation-name: glissement;
	animation-iteration-count: infinite;
	align-items: center;
	justify-content: center;
  }
  .title_containers {
	overflow-x: hidden;
  }
  @keyframes glissement {
	0% {
	  transform: translateX(100%);
	  opacity: 0;
	}
	50% {
	  transform: none;
	  opacity: 1;
	}
  }
  @keyframes back {
	0% {
	}
	50% {
	}
  }
  .diaporama {
	background-image: url(Img/route-et-montagne.jpg);
	background-size: cover;
	background-position: center;
	animation: back 6s infinite;
	width: 100%;
	height: 50vh;
  }
  .titre_règles {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Calibri", serif;
	height: 468.5px;
	font-size: 100px;
  }
  header,
  body {
	color: rgb(7, 7, 105);
  }
  .materiel_but-du-jeu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  }
  .materiel,
  .but-du-jeu {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .lesCartes,
  .debuterPartie,
  .pourJouer,
  .pourFinir,
  .partieRapide,
  .finPage {
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 100px;
  }
  .container {
	font-size: 20px;
  }
  .rule {
	overflow: scroll;
	scrollbar-color: red orange;
	scrollbar-width: thin;
	position: absolute;
  }
  .height {
	height: 80% ;
  }