/* body - background : image du plateau */
body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* Header - Logo de lÉcole Atypique et du jeu Diversity*/
header {
    position: absolute;
    width: 100%;
    max-height: 60em;
    display: flex;
    justify-content: space-between;
}

.logoEA {
    width: 13em;
    height: 10em;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logoDiversity {
    background-color: #fff;
    border-radius: 42%;
    -webkit-border-radius: 42%;
    -moz-border-radius: 42%;
    -ms-border-radius: 42%;
    -o-border-radius: 42%;
}

/* container - Cases du plateau */
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.cases {
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #004AAD;
    font-family: Calibri;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caseDepart {
    font-size: 1.4em;
    width: 4em;
    height: 4em;
    background: linear-gradient(45deg, #E53990, #F2A2CB, #F2A2CB, #E53990);
}

.caseQuestion {
    font-size: 2.5em;
    width: 2.25em;
    height: 2.25em;
    background: linear-gradient(45deg, #FDB620, #FEDE9A, #FEDE9A, #FDB620);
}

.caseMalus {
    font-size: 2.5em;
    width: 2.25em;
    height: 2.25em;
    background: linear-gradient(45deg, #DB0F10, #EC8687, #EC8687, #DB0F10);
}

.caseBonus {
    font-size: 2.5em;
    width: 2.25em;
    height: 2.25em;
    background: linear-gradient(45deg, #0373BB, #79B4DB, #79B4DB, #0373BB);
}

.caseArrivee {
    font-size: 1.4em;
    width: 4em;
    height: 4em;
    background: linear-gradient(45deg, #24A620, #8DD08B, #8DD08B, #24A620);
}
